<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ManualUsuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Manual de Usuario</title>
</head>

<body>


    <header id="BarraNavegacion">
        <div class="text-start">
            <a href="{{url_for('home')}}"><button class="btn btn-secondary">Volver</button></a>
        </div>
        <h1>Manual de Usuario</h1>
        <nav>
            <a class=" fs-4 text-light " style="margin-right: 30px;" href="#ConteoVocales">Conteo de Vocales</a>
            <a class=" fs-4 text-light " style="margin-right: 30px;" href="#BuscarSubCadena">Buscar SubCadena</a>
            <a class=" fs-4 text-light " style="margin-right: 30px;" href="#palindromas">Palabras Palindromas</a>
            <a class=" fs-4 text-light " style="margin-right: 30px;" href="#TituloMayusculas">Mayúsculas Iniciales</a>
            <a class=" fs-4 text-light " style="margin-right: 30px;" href="#Documentos">Documentación</a>

        </nav>
    </header>

    <div class="container"> <!--Este es la maqueta del modulo CONTEO DE VOCALES-->
        <div class="text-center text-danger text-decoration-underline" id="ConteoVocales">
            <h1>Conteo de Vocales</h1>
        </div>
        <div class="steps">
            <div class="step">
                <div class="step-number">1</div>
                <h2>Ingresar al Aplicativo</h2>
                <p>ingresar con la URL del proyecto, seguido de esto ingresar usuario y contraseña y finalmente hacer
                    clic en el botón azul de "iniciar sesión".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/inicio_f.jpg') }}" alt="">
            </div>

            <div class="step">
                <div class="step-number">2</div>
                <h2>Ingreso al Módulo</h2>
                <p>Ubicar el botón del módulo de Conteo de vocales, y pulsar clic en el botón "Click Aqui".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/clic_contar_vocales.jpg') }}" alt="Ejecutar el instalador">
            </div>

            <div class="step">
                <div class="step-number">3</div>
                <h2>Módulo Conteo Vocales</h2>
                <p>Alli se encontrarón 2 campos en los que se puede digitar texto, llenar estos 2 campos con el texto
                    que desee, seguido pulsar clic en el botón de "Contar Vocales".</p>
                <span><span class="fw-bold">Observación:</span><br>
                    Tener en cuenta que esta funcionalidad va a mostrar el conteo de las vocales que
                    encuentre en ambos textos solo si la cantidad de caracteres es igual.</span>


                <img src="{{ url_for('static', filename='Img/Manual_usuario/datos_conteo_vocales.jpg') }}">
            </div>

            <div class="step">
                <div class="step-number">4</div>
                <h2>Resultado</h2>
                <p>Luego de pulsar clic en el boton de "Click Aqui" se debe de ver en pantalla la información de la
                    cantidad de vocales que tiene cada texto. Finalmente hacer clic en el botón de "cerrar" para acceder a otros módulos</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/resultado_contar_vocales.jpg') }}">
            </div>
            
        </div>
    </div>

    <div class="container"> <!--Esta es la maqueta del modulo de SUB-CADENA -->
        <div class="text-center text-danger text-decoration-underline" id="BuscarSubCadena">
            <h1>Buscar SubCadena</h1>
        </div>
        <div class="steps">
            <div class="step">
                <div class="step-number">1</div>
                <h2>Ingresar al Módulo de Buscar SubCadena</h2>
                <p>Ubicar el botón del módulo "Buscar SubCadena", y pulsar clic en el botón "Click Aqui".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/clic_subcadena.jpg') }}"
                    alt="">
            </div>

            <div class="step">
                <div class="step-number">2</div>
                <h2>Módulo SubCadena</h2>
                <p>Allí se encontraran 2 campos en los que se puede digitar texto, llenar estos 2 campos con el texto
                    que desee, y luego pulsar clic en el boton de "¿SubCadena?".</p>
                <span><span class="fw-bold">Observación:</span><br>
                    Tener en cuenta que esta funcionalidad lo que te va a mostrar es si en una cadena de texto existe
                    una combinación de texto igual a la primera.</span>


                <img src="{{ url_for('static', filename='Img/Manual_usuario/dato_subcadena.jpg') }}">
            </div>

            <div class="step">
                <div class="step-number">3</div>
                <h2>Ver Resultado</h2>
                <p>Luego de pulsar clic en el botón de "¿SubCadena?" hacer clic nuevamente en el boton de "Click Aqui" .</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/clic_subcadena.jpg') }}">
            </div>

            <div class="step">
                <div class="step-number">4</div>
                <h2>Resultado en Pantalla</h2>
                <p>Luego de pulsar clic en el boton de "¿SubCadena?" hacer clic nuevamente en el boton de "Click Aqui" se debe de ver en pantalla la informacion que
                    indica si hay texto igual en alguna de las 2 cadenas de texto, tener en cuenta que para retornar y acceder a los otros módulos se hara clic en el botón "cerrar".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/resultado_subcadena.jpg') }}">
            </div>

            
        </div>
    </div>

    <div class="container"> <!--Esta es la maqueta del modulo de Palindromas -->
        <div class="text-center text-danger text-decoration-underline" id="palindromas">
            <h1>Buscar Palindromas</h1>
        </div>
        <div class="steps">
            <div class="step">
                <div class="step-number">1</div>
                <h2>Ingresar al Módulo de Buscar Palindromas</h2>
                <p>Ubicar el botón del modulo Buscar Palindromas, y pulsar clic en el botón "Click Aqui".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/clic_palindromas.jpg') }}"
                    alt="">
            </div>

            

            <div class="step">
                <div class="step-number">2</div>
                <h2>Módulo Palindromas</h2>
                <p>Allí se encontraran 1 campo en el que se puede digitar texto, llenar este campo con el texto que
                    desee, seguido pulsar clic en el boton de "Buscar Palindromas".</p>
                <span><span class="fw-bold">Observación:</span><br>
                    Tener en cuenta que esta funcionalidad lo que te va a mostrar es si en el texto digitado existen
                    palabras palindromas y adicionalmente contará los esacios que hay en el texto.</span><br>
                <span><span class="fw-bold">¿Que es una palabra Palindroma?</span><br>
                    <span>Una palabra palíndroma es una palabra o frase que se lee igual de izquierda a derecha que de
                        derecha a izquierda</span>

                        <img src="{{ url_for('static', filename='Img/Manual_usuario/dato_palindromas.jpg') }}"
>
            </div>

            <div class="step">
                <div class="step-number">3</div>
                <h2>Resultado</h2>
                <p>Luego de pulsar clic en el botón de "Buscar Palindromas" y después en el botón de "Click Aqui" se debe de ver en pantalla la
                    información la cantidad de espacios en el texto <br>
                    adicionalmente mostrará las palabras palindromas enlistadas que se encontraron <br>
                    para acceder a los módulos generales hacer click en el boton "cerrar"</p>
                    <img src="{{ url_for('static', filename='Img/Manual_usuario/resultado_palindromas.jpg') }}">
            </div>
        </div>
    </div>

    <div class="container"> <!--Esta es la maqueta del modulo de Mayusculas Iniciales -->
        <div class="text-center text-danger text-decoration-underline" id="TituloMayusculas">
            <h1>Primera Letra Mayúscula</h1>
        </div>
        <div class="steps">
            <div class="step">
                <div class="step-number">1</div>
                <h2>Ingresar al Módulo Primera Letra Mayúscula</h2>
                <p>Ubicar el botón del módulo Primera Letra Mayúscula, y pulsar clic en el botón "Click Aqui".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/clic_mayuscula.jpg') }}"
                alt="">
            </div>

            <div class="step">
                <div class="step-number">2</div>
                <h2>Ingresar Datos</h2>
                <p>Allí se encontraran 1 campo en el que se puede digitar texto, llenar este campo con el texto que
                    desee, seguido pulsar clic en el botón de "Convertir".</p>
                <span><span class="fw-bold">Observación:</span><br>
                    Tener en cuenta que esta funcionalidad lo que te va a mostrar es el texto ingresado pero con la
                    mayúscula incial en cada palabra.</span>

                    <img src="{{ url_for('static', filename='Img/Manual_usuario/Datos_Mayuscula.png') }}">
            </div>

            <div class="step">
                <div class="step-number">4</div>
                <h2>Resultado</h2>
                <p>Luego de pulsar clic en el boton de "Convertir" y luego en el boton "Click Aqui" </p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/clic_mayuscula.jpg') }}">
            </div>

            <div class="step">
                <div class="step-number">4</div>
                <h2>Resultado en Pantalla</h2>
                <p>se debe de ver en pantalla el resultado del mismo
                    texto digitado pero con las primeras letras de cada palabra en mayúscula, finalmente hacer clic en el boton "Cerrar" para regresar</p>
                    <img src="{{ url_for('static', filename='Img/Manual_usuario/resultado_mayuscula.jpg') }}">
            </div>
        </div>
    </div>

    <div class="container"> <!--Este es la maqueta del modulo Documentacion-->
        <div class="text-center text-danger text-decoration-underline" id="Documentos">
            <h1>Documentación</h1>
        </div>
        <div class="steps">
            <div class="step">
                <div class="step-number">1</div>
                <h2>Ingresar al Aplicativo</h2>
                <p>ingresar con la URL del proyecto, seguido de esto ingresar usuario y contraseña y finalmente hacer
                    clic en el botón azul de "iniciar sesión".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/inicio_f.jpg') }}" alt="">
            </div>

            <div class="step">
                <div class="step-number">2</div>
                <h2>Ingreso al Módulo</h2>
                <p>Ubicar el botón de hamburguesa en el que se debe de pulsar click "menu Hamburguesa".</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/Menu_Hamburguesa.png') }}" alt="Ejecutar el instalador">
            </div>

            <div class="step">
                <div class="step-number">3</div>
                <h2>Tipos de codumentos</h2>
                <p>Luego de pulsar click en el Menu Hamburguesa se observa que se despliega la barra superior en la que existe un campo de seleccion multiple, pulsar click en este</p>
                <span><span class="fw-bold">Observación:</span><br>
                    Tener en cuenta que existen 2 tipos de documentos, el documento de sustentacuion del proyecto, 
                    y el manual de usuario del funcionamiento del proyecto</span>


                <img src="{{ url_for('static', filename='Img/Manual_usuario/Tipo_Documentos.png') }}">
            </div>

            <div class="step">
                <div class="step-number">4</div>
                <h2>Slección</h2>
                <p>Seguido Seleccionar el tipo de socumento que desea ver y pulsar click en el boton de ingresar</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/Seleccion_sustentacion.png') }}">
            </div>
            
            <div class="step">
                <div class="step-number">5</div>
                <h2>Sustentacion</h2>
                <p>Luego de haber seleccionado la sustentacion e ingresar al documento se puede observar carga la interfaz de sustentación 
                    donde podra observar y leer todo lo relacionado con el desarrollo del proyecto.</p>
                <img src="{{ url_for('static', filename='Img/Manual_usuario/Interfaz_sustentacion.png') }}">
            </div>
        </div>
    </div>
</body>

</html>