<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/DocSutentacion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"><!--Este es el archivo importada desde bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script><!-- este es el archivo js extraido de bootstrap-->
    <title>Sustentacion</title>
</head> 
<body>
    <header class="bg-dark">
        <div class="text-start">
            <a href="{{url_for('home')}}"><button class="btn btn-secondary">Volver</button></a>
        </div>
        <h1>Documento de Sustentación</h1>
    </header>

    <div class="container">
        <section class="section" id="introduccion">
            <h2>Introducción</h2>
            <p>
                En esta sección se mostrara todo lo que se realizo para la creación del proyecto final, para tal efecto, se divide en tres segmentos la sustentación del proyecto, una primera parte que mostrara  la estructura del proyecto, la segunda que mostrara el backend y finalmente en la ultima parte se mostrara el fronted del proyecto. 
            </p>
        </section>

        <section class="section" id="analisis">
            <h2>1.0 Estructura del proyecto</h2>
            <p>
                Este proyecto se basa en una metodología que aprovecha el motor de plantillas Jinja2, permitiendo la creación dinámica y eficiente de contenido HTML en el frontend a partir de datos proporcionados desde el backend. Las herramientas empleadas en el desarrollo incluyen tecnologías clave para garantizar un flujo de trabajo optimizado y una experiencia de usuario interactiva y adaptable; las herramientas empleadas en el proyecto son:
            </p>
            <ol>
                <li><strong>Python:</strong> Como lenguaje base para el backend, brindando capacidad de procesamiento y manejo de lógica de negocio.</li>
                <li><strong>Flask:</strong> Framework web minimalista para gestionar rutas, solicitudes HTTP y la integración entre el backend y las vistas en HTML.</li>
                <li><strong>HTML, CSS y JavaScript:</strong> Tecnologías de frontend para estructurar, diseñar e interactuar con los elementos visuales de la aplicación.</li>
                <li><strong>Bootstrap:</strong> Esta biblioteca de diseño front-end facilitó la creación de una interfaz responsiva, estéticamente atractiva y compatible con múltiples dispositivos, optimizando el diseño sin comprometer el rendimiento.</li>
                <li><strong>VS Code:</strong> VS Code fue el entorno de desarrollo principal, ofreciendo una experiencia optimizada con extensiones específicas para Python, Flask y herramientas de depuración, lo cual mejoró la eficiencia en el desarrollo y mantuvo la calidad del código.</li>


            </ol>
            <h3><i>Ramificación de carpetas</i></h3>
            <img src="{{ url_for('static', filename='Img/sustentacion/Raiz.png') }}" alt="">
            <img src="{{ url_for('static', filename='Img/sustentacion/css.png') }}" alt="">
            <img src="{{ url_for('static', filename='Img/sustentacion/imagenes.png') }}" alt="">
            <img src="{{ url_for('static', filename='Img/sustentacion/js.png') }}" alt="">
            <img src="{{ url_for('static', filename='Img/sustentacion/plantillas.png') }}" alt="">
            <p>En las  imagenes se presenta la estructura general del proyecto, donde encontramos de derecha a izquierda como se encuentra compuesto el proyecto, podemos visualizar una carpeta llamada <strong>static</strong> , la cual contiene dentro tres carpetas mas llamadas <strong><i>css,img y js</i></strong> , al mismo nivel de static tenemos una carpeta llamada <strong>templates</strong> y  tanto <strong> static</strong> como <strong>templates</strong> y el archivo <strong>app.py</strong> estan dentro de la carpeta <strong>PROYECTOMENU</strong>, en la cual se contiene toda la estructura del proyecto.</p>
            <h4><i>Contenido de las carpetas</i></h4>
            <ol>
                <li><strong>Css:</strong> En esta carpeta tenemos el  boostrap 5.3, el cual nos ayuda con la creacion del codigo en html para el diseño del fronted.</li>
                <li><strong>Img:</strong> En la carpeta img tenemos cada una de las imagenes que se usaron en el proyecto, aqui tenemos las imagenes del proyecto, de la sustentacion y del manual de usuario.</li>
                <li><strong>Js:</strong> Aqui se encuentran los archivos extraibles en Javascript para hacer posible ciertas funcionalidades del fronted dentro del proyecto.</li>
                <li><strong>Templates:</strong> Se almacenan cada una de las plantillas html para el proyecto.</li>
                <li><strong>App.py:</strong> El archivo app.py es en el cual se encuentra todo el codigo del backend, que controla el codigo del proyecto y que determina la funcionalidad de los modulos que se visualizan en el fronted.</li>

            </ol>

        </section>

        <section class="section" id="conclusion">
            <h2>2.0 Backend</h2>
            <p>
                Luego de tener clara la estructura del proyecto, se entrara en el codigo o backend del proyecto, donde se encontrara el codigo que posteriormente se enlazara con html para que pase verse en consola a verse en una interfaz grafica.
            </p>
            <h3><i>Framework Flask</i></h3>
            <p>Para enlazar el backend con el el fronted, utilizamos el framework <strong>flask</strong> , en este caso no llamamos todo el framework, solo importamos lo que requerimos para el proyecto, por eso como se ve acontinuacion especificamos lo que importaremos de flask como se ve en la linea de codigo. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/flask.png') }}" alt="">
            <h3 style="margin-top: 20px;"><i>Codigo de los modulos</i></h3>
            <p>Los modulos son los 4 ejercicios tomados de parciales anteriores, cada modulo es un ejercicio y para que fuera posible mostrar en pantalla y no en consola, se tuvo que modificar el codigo, especificamente los print que se utilizaban para imprimir por consola, se debieron modificar por medio de return, para que pudiese mostrarse en la interfaz grafica como se muestra en las siguientes imagenes del codigo de cada modulo. </p>
            <h4><i>Modulo #1 (Contar Vocales)</i></h4>
            <p>En el primer modulo se tiene que realizar dos cosas, la primera comparar si las cadenas son iguales y almacenar el resultado en una lista  para poder devolverlo al html y segundo generar la funcion para contar vocales dado el caso que ambas cadenas de texto sean iguales, podemos ver como el print se elimina y se usa el return.</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/cont_cadena.png') }}" alt="">
            <img src="{{ url_for('static', filename='Img/sustentacion/conta_vocales.png') }}" alt="">
            <h4 style="margin-top: 40px;"><i>Modulo #2 (Buscar Sub Cadena)</i></h4>
            <p>En este segundo modulo se realiza la verificacion de dos cadenas donde determinamos cual de las dos es larga y cual es mas corta, dada esa verificacion , evaluamos si la cadena corta esta en la larga que nos retorne el mensaje de que la corta es subcadena de la cadena larga, si se da lo contrario que nos retorne que la cadena corta no es subcadena de la cadena larga. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/subcadenas.png') }}" alt="">
            <h4 style="margin-top: 40px;"><i>Modulo #3 (Buscar Palindromas)</i></h4>
            <p>En el tercer modulo se determina los numeros de espacios que puedan existir en un parrafo, se separa el parrafo en palabras, volviendolas subcadenas para identificar si existen palabras palindromas y determinar cuantas existen, por ultimo en el codigo le pedimos que nos recorra la lista y nos diga cuales son las palabras palindromas que existen en la lista donde se almacenaron y las muestre en pantalla, si no hay palindroma le pedimos al codigo que muestre el mensaje "No se encontraron palabras palindromas". </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/Palindromas_py.png') }}" alt="">
            <h4 style="margin-top: 40px;"><i>Modulo #4 (Primera letra mayuscula)</i></h4>
            <p>En el ultimo modulo se realizo un codigo que permitiera colocar la prfimera letra en mayuscula de cada palabra, como se requiere que sean palabras para colocarle mayuscula, empezamos eliminando errores al verficar que el texto ingresado no fuera un numero, si lo es, nos arrojara como respuesta que lo que acaba de digitar son numeros, si no son numeros el programa separara la frase ingresada en subcadenas y colocara la primera letra en mayuscula con ayuda del .capitalize() y nos retornara la frase con las primeras letras de cada palabra en mayuscula. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/letra_mayuscula.png') }}" alt="">
            <h3 style="margin-top: 40px;"><i>Rutas Python y Html</i></h3>
            <p>Hasta este punto se ha mostrado la logica de los modulos que se desarrollaron para el proyecto, y para finalizar con el backend , se mostraran las rutas del proyecto desde python hacia html, tambien se observara como se extraen los valores y se almacenan en cada variable dependiendo de que ejercicio vengan, al final hay una imagen que muestra la ruta para la seleccion del manual de usuario y de la sustentacion, tambien se ve  el if _name_ == 'main' que nos crear el proyecto en un entorno de programacion local para este proyecto especifico.
            </p>
            <h4 style="margin-top: 30px;"><i>Ruta raiz, login y home</i></h4>
            <p>Se muestra la ruta de inicio del proyecto en la raiz, tambien se muestra el inicio del login, donde se solicitia las credenciales y se verifica que sean correctas para pasar al home, de lo contrario que retorne al login,  y en el ultimo bloque de codigo se muestra las variables donde se almacenan los resultados</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/Rutas.png') }}" alt="">
            <h4 style="margin-top: 30px;"><i>Datos</i></h4>
            <p>En este bloque de codigo se  extrae los valores que viene del html y se verifica de que modulo vienen para retornarlo en el home y poder visualizar el resultado en la interfaz grafica</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/valores.png') }}" alt="">
            <h4 style="margin-top: 30px;"><i>Ruta sustentacion y manual de usuario</i></h4>
            <p>Al igual que en las primeras rutas, aqui se muestra la ruta para seleccionar entre sustentacion y manual de usuario, dejando que si no es alguna de las dos opciones se de, vuelva a la plantilla home, para finalizar el backend tenemos el <i><strong>if _name_ == 'main'.</strong></i></p>
            <img src="{{ url_for('static', filename='Img/sustentacion/susten_manual_home.png') }}" alt="">

            <div class="quote">
                "<strong>Nota : </strong>Asi se da final a todo el backend del proyecto y pasamos al fronted donde se mostraran aspectos como los modal, contenedores  y demas elementos usados en el diseño del fronted."
            </div>
        </section>
        <section class"section" id"fronted_sustentacion">
            <h2>3.0 Fronted</h2>
            <p>Mostraremos a través de una interfaz grafica un proyecto organizado compatible con distintos dispositivos basado en un modelo responsive, con una estructura simetría, amigable con el usuario y fácil de usar. </p>
            <h3><i>Cabezera HTML</i></h3
            <p>En esta parte de la cabecera del documento de HTML encontramos en su respectivo orden: Declaración estándar para que el navegador interprete las normas de HTML5, la configuración para visualización en dispositivos móviles con ajuste a la pantalla del dispositivo y el nivel de zoom inicial de página, descripción del contenido de la pagina para el motor de búsqueda (esta vacío), referencia a los creadores de Bootstrap, versión 0.84.0. de Hugo fue la utilizada en el desarrollo del proyecto. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/bloque_inicial.png') }}">
            <h3 style="margin-top: 20px;"><i>Bootstrap CSS y JS</i></h3>
            <p>Enlaza archivos externos a una página WEB, usando la biblioteca de Flask para enlazar con Python. 
                La primera etiqueta nos permite enlazar en Bootstrap la biblioteca de CSS y JavaScript para el diseño de interfases, y la segunda carga los archivos desde la carpeta estática. 
            </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/bootstrap_css_js.png') }}">
            <h3 style="margin-top: 40px;"><i>Estilo Responsive</i></h3>
            <p>Estilos diseñados para que el contenido se ajuste a diferentes tipos de pantalla donde se visualice el contenido, (para pantallas pequeñas se bloqueó la opción de selección, con la finalidad de hacerlo más fácil de desplazar).</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/estilos_responsive.png') }}">
            <h3 style="margin-top: 40px;"><i>Documentación</i></h3>
            <p>El bloque de HTML de esta sección muestra un encabezado con una sección que se despliega al presionar un botón especifico, dando paso a un menú de selección múltiple (Sustentación o manual de usuario) que nos redirige a la siguiente etapa de consulta del usuario, para el proceso contamos también con un botón de confirmación. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/documentacion_1.png') }}">
            <br></br>
            <img src="{{ url_for('static', filename='Img/sustentacion/documentacion_2.png') }}">
            <h3 style="margin-top: 40px;"><i>Contenido principal</i></h3>
            <p>En este bloque de código encontramos los títulos principales de nuestro proyecto enmarcado en una etiqueta que nos menciona que son el contenido principal en el diseño, a través del uso de Bootstrap y nuestras clases personalizadas de CSS entregamos los estilos de los módulos a desarrollar.</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/contenido_principal.png') }}">
            <h3 style="margin-top: 40px;"><i>Contar Vocales</i></h3>
            <p>Este bloque de código nos permite ejecutar nuestro primer modulo “Contar Vocales” quien se encarga de generarme una tarjeta con una imagen amigable que nos brinda una interfaz grafica mas agradable al usuario, ejecuta el proceso usado en nuestro Backend para determinado ejercicio el cual tiene su descripción de función en la misma tarjeta. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/contar_vocales.png') }}">
            <h3 style="margin-top: 40px;"><i>Sub cadena</i></h3>
            <p>Para esta tarjeta encontramos nuestro segundo modulo “Buscar Sub Cadena” donde tenemos también una clase que estandariza el tamaño de la imagen en la tarjeta con la finalidad de entregar un diseño simétrico en las mismas. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/sub_cadenas.png') }}">
            <h3 style="margin-top: 40px;"><i>Palíndromas</i></h3>
            <p>Esta tarjeta me presenta el tercer modulo “Palíndromas” en la cual también encontramos nuestra interfaz de tipo responsive acompañada de una serie de botones que permiten la correcta navegación y ejecución del módulo. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/palindromas_1.png') }}">
            <h3 style="margin-top: 40px;"><i>Primera Letra Mayúscula</i></h3>
            <p>La tarjeta numero 4 presenta nuestro ultimo modulo “Primera Letra Mayúscula” donde enmarcamos lo simétrico de la interfaz gráfica, entregando un modelado no solo amigable sino intuitivo y fácil de usar para nuestros usuarios. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/primera_mayuscula_1.png') }}">
            <h3 style="margin-top: 40px;"><i>Volver arriba</i></h3>
            <p>Este pequeño pie de pagina nos entrega una pequeña descripción del objetivo del proyecto y una función de regresar arriba.</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/volver_arriba.png') }}">
            <h3 style="margin-top: 40px;"><i>Modal Contar Vocales</i></h3>
            <p>Nos enseña a través de una venta emergente la interfaz de procesamiento del tipo de problema que se plantea en el módulo en cuestión, cuenta con un espacio estructurado por botones, títulos y espacios para ingresar texto. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_vocales_1.png') }}">
            <br></br>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_vocales_2.png') }}">
            <h3 style="margin-top: 40px;"><i>Modal Sub cadena</i></h3>
            <p>En la estructura de construcción de nuestro nodal usamos el framework de Bootstrap que nos proporciona toda la eficiencia necesaria para entregar una gama personalizable dentro de nuestra pestaña emergente. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_subcadena_1.png') }}">
            <br></br>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_subcadena_2.png') }}">
            <h3 style="margin-top: 40px;"><i>Modal Palíndromas</i></h3>
            <p>Encontramos en nuestro de bloque de código las funciones que permiten que las funciones de procesamiento enlacen directamente con nuestro Backend. </p>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_palindromas_1.png') }}">
            <br></br>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_palindroma_2.png') }}">
            <h3 style="margin-top: 40px;"><i>Modal Primera Letra Mayúscula</i></h3>
            <p>Las clases y estilos personalizados de nuestra configuración entregan una parte visual a la que es fácil acostumbrarse por lo estandarizado de los mismo, y esta enlazado directamente con el ingreso en las tarjetas del contenido principal del proyecto.</p>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_primeramayuscula_1.png') }}">
            <br></br>
            <img src="{{ url_for('static', filename='Img/sustentacion/modal_primeramayuscula_2.png') }}">
        </section>

    </div>   
</body>
</html>